torch
transformers~=4.32.1
accelerate
colorama~=0.4.6
cpm_kernels
sentencepiece
streamlit
transformers_stream_generator
eventlet~=0.33.3
Flask~=3.0.0
Flask-Cors
Flask-SQLAlchemy
sqlalchemy~=2.0.23
python-dotenv~=0.21.0
bcrypt~=3.2.0